.step {
    width: 250px;
    padding: 5px;
}

.steps > h3 {
    width: 100%;
    text-align: center;
}

.steps > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}