.send-box {
  float: none;
  width: 100%;
  margin: 1em auto;
  height: auto;
  background-color: #ffffff;
}

.send-box > :nth-child(1) {
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  padding: 1em;
  opacity: 0.4;
}

.mm-font {
  font-size: 0.9em;
  margin-bottom: 2px;
}
.send{
  /* overflow:hidden; */
}

@media only screen and (max-width: 480px) {
  .mm-acct{
   font-size: 13px;
  }
  .mm-tokenad{
    width: 100% !important;
  }
  .amount-input{
    width: 100px !important;
    margin-left: 50px;
  }
  .mm-newAddress{
    width: 180px !important;
  }
}

@media only screen and (max-width: 480px) {
  .mm-acct{
   font-size: 13px;
  }
  .mm-tokenad{
    width: 100% !important;
  }
  .amount-input{
    width: 100px !important;
    margin-left: 50px;
  }
  .mm-newAddress{
    width: 180px !important;
  }
}

.send-box .form {
  padding: 25px;
}

.send-box > .form > div > button {
    margin-right: 20px;
  }

.send-box > .form button {
  height: 2.3em;
  width: 114px;
  font-size: 0.9em;
  color: #ffffff;
}

.send-box > .form label {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  opacity: 0.6;
}

.send-box > .form input {
  border: 1px solid rgba(112, 112, 112, 0.4);
  font-size: 1.1em;
  width: 45%;
  padding: 15px 10px;
  height: 2.3em;
  border-radius: 10px;
  font-size: 17px;
  height: 45px
}

.send-box > .form input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, .4)
}

.send-box > .form input:hover, .send-box > .form input:focus {
  border-color: #1bbf0d;
}


.address-amount {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.address-amount > :nth-child(1) {
  width: 45%;
}

.address-amount > :nth-child(1) > input {
  width: 100%;
}
.address-amount > :nth-child(2) {
  width: 15%;
  margin-left: 2%;
}

.address-amount > :nth-child(2) > input {
  width: 100%;
}

.address-amount > :nth-child(3) {
  /* width: 30%; */
  margin-left: 2%;
  justify-content: space-around;
}

.mv-right {
  margin-left: auto;
}

.address-amount > :nth-child(3) button {
  width: auto;
}

/* ================ Address/amount table==================== */

.address-table {
  width: 100%;
  height: 150px;
  margin-top: 30px;
}

.address-table {
  width: 100%;
}

.address-table > .th {
  padding-right: 1.2em;
  opacity: 0.6;
  margin-bottom: 10px;
}

.address-table > .th > :nth-child(1) {
  display: inline-block;
  width: 50%;
  min-width: 400px;
}

.address-table > .tb {
  height: 70%;
  overflow-y: scroll;
}

/* .address-table > .tb :hover {
  background-color: #f0f0f0;
} */

.address-table > .tb .tr {
  height: 2em;
  padding: 0.2em 0em;
}

.address-table > .tb .tr :nth-child(1) {
  display: inline-block;
  width: 50%;
  min-width: 400px;
}

.address-table > .tb .tr :nth-child(2) {
  display: inline-block;
  /* margin-right: 15%; */
}

.address-table > .tb .tr button {
  height: 1.5em;
  width: 1.5em;
  border-radius: 30%;
  background-color: #E96365;
  padding: 4px;
  margin-right: 3em;
  float: right;
}

.footer-send > span {
  font-size: 15px;
  opacity: 0.7;
}
/* ====================================================== */

.strip-away {
  background-color: #ffffff;
  color: #1f2023 !important;
  box-shadow: none;
}

.tip-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.tip-container input.tip-check{
  width: 3%;
}

.tip-container span.tip-text {
  display: inline-flex;
  align-items: center;
  width: 44%;
  padding-top: 5px;
}

.tip-container span.tip-text span {
  cursor: pointer;
  margin: 0 5px;
  /* color: #1bbf0d; */
}
.tip-container input.tip-input {
  width: 15%
}
