.divider {
    margin-top: 4em;
    margin-bottom: 4em;
}

.ms-divider {
    margin-right: -12em;
    margin-left: -12em;
    color: #9c9d9e;
    background-color: #9c9d9e;
    border-top: 0
}