.intro {
  margin-top: 3em;
  /* position: relative; */
}
.intro > :nth-child(1) {
  width: 50%;
  min-width: 320px;
}

.intro > :nth-child(1) > h2 {
  max-width: 420px;
  text-align: left;
  /* text-justify: inter-word; */
}

.intro > :nth-child(1) > p {
  max-width: 450px;
  text-align: justify;
  text-justify: inter-word;
}

.intro > :nth-child(2) {
  width: 50%;
}

.intro > :nth-child(2) > img {
  max-height: 400px;
  max-width: 400px;
  float: right;
  min-width: 300px;
}

.intro h2 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.3em;
}

.intro p {
  line-height: 1.3em;
  color: #747476;
}

.intro > :nth-child(3) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.intro > :nth-child(3) > div {
  width: 100%;
}

.intro > :nth-child(3) > div > div {
    margin: 0 auto;
    width: 280px;
    height: 3em;
    padding: 0.4em 0em 0.4em 0em;
    background-color: #f5f8f9;
    border-radius: 15px;
}

.intro > :nth-child(3) > div input {
    width: 220px;
    margin-right: 5px;
    background-color: #f5f8f9;
    height: 2em;
    font-size: 1.1em;
    padding-left: 0.5em;
}

.intro > :nth-child(3) > div button {
  padding: 0.7em
}

.intro > :nth-child(3) > h4 {
  width: 300px;
  color: #1f2023;
  font-weight: lighter;
  font-size: 1.13em
}

.intro p {
  font-size: 1.25em;
  font-weight: normal;
}

.intro button {
  color: #ffffff;
  height: 2.3em;
}

.intro > div > button {
  width: 180px;
  height: 2.5em;
}

.right-bars,
.left-bars {
  position: absolute;
  height: 400px;
  width: 200px;
  /* border: 1px green solid; */
  overflow: hidden;
}

.right-bars > img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  object-position: 1em 0em;
}

.right-bars {
  margin-right: 0em;
  top: 2em;
  right: 0;
  /* background-image: url("../../assets/imgs/Group 5.svg") */
}

.left-bars > img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  object-position: -15em 0em;
}

.left-bars {
  margin-left: 0em;
  top: 13em;
  left: -1em;
  /* background-image: url("../../assets/imgs/Group 5.svg") */
}
