.footer {
    margin-top: -4em;
    height: 6em;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 2em;
    line-height: 2em;
    margin-bottom: 4em;
}

.footer > ul > li{
    padding-left: 2em;
}

.footer > * {
    width: 300px;
}

.footer > :nth-child(2){
    margin: 0 auto;
    width: 150px;
    text-align: center;
}